@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,700&display=swap");

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk.ttf");
}

body {
    font-family: "Clash Display", "Space Grotesk", sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: #F8FFF5;
        --foreground: #202020;
        --input: #fff;
        --primary: #645BB2;
        --primary-foreground: #F8FFF5;
        --accent: #F70021;
        --muted: #A3A3A3;
        --muted-foreground: #808080;
        --border: #A3A3A3;
        --contrast: #202020;
        --base: #F8FFF5;
        --bg-black: #0C0C0C;
    }

    [data-theme="dark"] {
        --background: #0C0C0C;
        --foreground: #F8FFF5;
        --input: #202020;
        --primary: #7C72A8;
        --primary-foreground: #F8FFF5;
        --accent: #F70021;
        --muted: #808080;
        --muted-foreground: #A3A3A3;
        --border: #645BB2;
        --contrast: #202020;
        --base: #F8FFF5;
        --bg-black: #0C0C0C;
    }
}

@layer base {
    * {
        @apply border-[var(--border)];
    }
    body {
        @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
    }
}

.group:hover {
    animation: glow 2s infinite;
}

.noise-background {
    background-image: url("/images/noise.webp");
    opacity: 0.1;
    mix-blend-mode: multiply;
    pointer-events: none;
}

[data-theme="dark"] .noise-background {
    opacity: 0.2;
    mix-blend-mode: soft-light;
}

.scroller {
    mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
}

.animate-scroll {
    animation: scroll var(--animation-duration) var(--animation-direction) linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.z-50 {
    z-index: 50;
}
